<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyarc.tp.corp.purchase.provider.dao.NewProviderMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.lyarc.tp.corp.purchase.provider.bean.NewProviderMaterial" >
    <id column="npm_id" property="npmId" jdbcType="VARCHAR" />
    <result column="provider_id" property="providerId" jdbcType="VARCHAR" />
    <result column="buyer" property="buyer" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="submiter" property="submiter" jdbcType="VARCHAR" />
    <result column="files" property="files" jdbcType="VARCHAR" />
    <result column="reporter" property="reporter" jdbcType="VARCHAR" />
    <result column="report_submit_time" property="reportSubmitTime" jdbcType="TIMESTAMP" />
    <result column="report_status" property="reportStatus" jdbcType="INTEGER" />
    <result column="wf_status" property="wfStatus" jdbcType="INTEGER" />
    <result column="wf_inst_id" property="wfInstId" jdbcType="VARCHAR" />
    <result column="wf_inst_time" property="wfInstTime" jdbcType="TIMESTAMP" />
    <result column="wf_inst_remark" property="wfInstRemark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="tmstamp" property="tmstamp" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="ResultMapWithDetail" type="com.lyarc.tp.corp.purchase.provider.dto.NewProviderMaterialDto" extends="BaseResultMap" >
    <collection property="detailList" ofType="com.lyarc.tp.corp.purchase.provider.dto.NewProviderMaterialDetailDto" select="getDetails"
                column="npm_id">
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    npm_id, provider_id, buyer, remark, submit_time, submiter, files, reporter, report_submit_time,
    report_status, wf_status, wf_inst_id, wf_inst_time, wf_inst_remark, creator, create_time, 
    update_time, tmstamp
  </sql>

  <sql id="Base_Column_List_Join" >
    npm.npm_id, npm.provider_id, npm.buyer, npm.remark, npm.submit_time, npm.submiter, npm.files, npm.reporter,
     npm.report_submit_time,
    npm.report_status, npm.wf_status, npm.wf_inst_id, npm.wf_inst_time, npm.wf_inst_remark, npm.creator
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_new_provider_material
    where npm_id = #{npmId,jdbcType=VARCHAR}
  </select>



  <select id="list" parameterType="NewProviderMaterialQueryBean" resultType="NewProviderMaterialDto">
    select distinct npm.*,p.provider_name providerName,p.link_man linkMan,
    p.link_phone linkPhone
    from t_new_provider_material npm
    left join t_provider p on npm.provider_id = p.provider_id
    left join t_new_provider_material_detail npmd on npm.npm_id = npmd.npm_id
    left join t_material m on npmd.mater_id = m.mater_id
    where 1=1
    <if test='providerId != null and providerId !=""'>
      AND npm.provider_id =#{providerId}
    </if>
    <if test='reportStatus != null'>
      AND npm.report_status =#{reportStatus}
    </if>
    <if test='wfStatus != null'>
      AND npm.wf_status =#{wfStatus}
    </if>
    <if test='materId != null'>
      AND npm.mater_Id =#{materId}
    </if>
    <if test='materName != null and materName !=""'>
      AND m.mater_name LIKE concat('%',#{materName},'%')
    </if>
    <if test='npmId != null and npmId !=""'>
      AND npm.npm_id LIKE concat('%',#{npmId},'%')
    </if>
    <if test="createTimeStart != null">
      AND DATE_FORMAT(npm.create_time,'%Y-%m-%d') >= DATE_FORMAT(#{createTimeStart},'%Y-%m-%d')
    </if>
    <if test="createTimeEnd != null">
      AND DATE_FORMAT(npm.create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{createTimeEnd},'%Y-%m-%d')
    </if>

    ORDER BY npm.create_time DESC
    <if test="offset != null and pageSize != null">
      limit #{offset},#{pageSize}
    </if>
  </select>

  <select id="count" parameterType="NewProviderMaterialQueryBean" resultType="java.lang.Long">
    SELECT
    count(distinct npm.npm_id)
    from t_new_provider_material npm
    left join t_provider p on npm.provider_id = p.provider_id
    left join t_new_provider_material_detail npmd on npm.npm_id = npmd.npm_id
    left join t_material m on npmd.mater_id = m.mater_id
    where 1=1
    <if test='providerId != null and providerId !=""'>
      AND npm.provider_id =#{providerId}
    </if>
    <if test='wfStatus != null'>
      AND npm.wf_status =#{wfStatus}
    </if>
    <if test='reportStatus != null'>
      AND npm.report_status =#{reportStatus}
    </if>
    <if test='materId != null'>
      AND npm.mater_Id =#{materId}
    </if>
    <if test='materName != null and materName !=""'>
      AND m.mater_name LIKE concat('%',#{materName},'%')
    </if>
    <if test='npmId != null and npmId !=""'>
      AND npm.npm_id LIKE concat('%',#{npmId},'%')
    </if>
    <if test="createTimeStart != null">
      AND DATE_FORMAT(npm.create_time,'%Y-%m-%d') >= DATE_FORMAT(#{createTimeStart},'%Y-%m-%d')
    </if>
    <if test="createTimeEnd != null">
      AND DATE_FORMAT(npm.create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{createTimeEnd},'%Y-%m-%d')
    </if>
  </select>

  <select id="selectAndDetail" resultMap="ResultMapWithDetail" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List_Join" />
    ,p.provider_name providerName,p.link_man linkMan,
    p.link_phone linkPhone,p.address
    from t_new_provider_material npm
    left join t_provider p on npm.provider_id = p.provider_id
    where npm.npm_id = #{npmId,jdbcType=VARCHAR}
  </select>

  <select id="getDetails" resultType="NewProviderMaterialDetailDto" parameterType="java.lang.String" >
    select
    a.npm_id, a.mater_id, m.sub_type materType, a.origin, a.`use`, a.price, a.quantity, a.amount, a.remark,
    m.spec,m.model,m.mater_name,m.unit,a.files
    from t_new_provider_material_detail a left join t_material m on a.mater_id = m.mater_id
    where npm_id = #{npm_id}
  </select>

  <!-- 自增类型的类型编号 -->
  <select id="createSequence" parameterType="java.lang.String" resultType="java.lang.Integer" statementType="CALLABLE">
    call sp_seq(concat(#{currentDate},'_t_new_provider_material'),1)
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_new_provider_material
    where npm_id = #{npmId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lyarc.tp.corp.purchase.provider.bean.NewProviderMaterial" >
    insert into t_new_provider_material (npm_id, provider_id, buyer, 
      remark, submit_time, submiter, 
      files, reporter, report_submit_time, 
      report_status, wf_status, wf_inst_id, 
      wf_inst_time, wf_inst_remark, creator, 
      create_time, update_time, tmstamp
      )
    values (#{npmId,jdbcType=VARCHAR}, #{providerId,jdbcType=VARCHAR}, #{buyer,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP}, #{submiter,jdbcType=VARCHAR}, 
      #{files,jdbcType=VARCHAR}, #{reporter,jdbcType=VARCHAR}, #{reportSubmitTime,jdbcType=TIMESTAMP}, 
      #{reportStatus,jdbcType=INTEGER}, #{wfStatus,jdbcType=INTEGER}, #{wfInstId,jdbcType=VARCHAR}, 
      #{wfInstTime,jdbcType=TIMESTAMP}, #{wfInstRemark,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{tmstamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lyarc.tp.corp.purchase.provider.bean.NewProviderMaterial" >
    insert into t_new_provider_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="npmId != null" >
        npm_id,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="buyer != null" >
        buyer,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="submiter != null" >
        submiter,
      </if>
      <if test="files != null" >
        files,
      </if>
      <if test="reporter != null" >
        reporter,
      </if>
      <if test="reportSubmitTime != null" >
        report_submit_time,
      </if>
      <if test="reportStatus != null" >
        report_status,
      </if>
      <if test="wfStatus != null" >
        wf_status,
      </if>
      <if test="wfInstId != null" >
        wf_inst_id,
      </if>
      <if test="wfInstTime != null" >
        wf_inst_time,
      </if>
      <if test="wfInstRemark != null" >
        wf_inst_remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="tmstamp != null" >
        tmstamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="npmId != null" >
        #{npmId,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="buyer != null" >
        #{buyer,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submiter != null" >
        #{submiter,jdbcType=VARCHAR},
      </if>
      <if test="files != null" >
        #{files,jdbcType=VARCHAR},
      </if>
      <if test="reporter != null" >
        #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="reportSubmitTime != null" >
        #{reportSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportStatus != null" >
        #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="wfStatus != null" >
        #{wfStatus,jdbcType=INTEGER},
      </if>
      <if test="wfInstId != null" >
        #{wfInstId,jdbcType=VARCHAR},
      </if>
      <if test="wfInstTime != null" >
        #{wfInstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wfInstRemark != null" >
        #{wfInstRemark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tmstamp != null" >
        #{tmstamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyarc.tp.corp.purchase.provider.bean.NewProviderMaterial" >
    update t_new_provider_material
    <set >
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="buyer != null" >
        buyer = #{buyer,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submiter != null" >
        submiter = #{submiter,jdbcType=VARCHAR},
      </if>
      <if test="files != null" >
        files = #{files,jdbcType=VARCHAR},
      </if>
      <if test="reporter != null" >
        reporter = #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="reportSubmitTime != null" >
        report_submit_time = #{reportSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportStatus != null" >
        report_status = #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="wfStatus != null" >
        wf_status = #{wfStatus,jdbcType=INTEGER},
      </if>
      <if test="wfInstId != null" >
        wf_inst_id = #{wfInstId,jdbcType=VARCHAR},
      </if>
      <if test="wfInstTime != null" >
        wf_inst_time = #{wfInstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wfInstRemark != null" >
        wf_inst_remark = #{wfInstRemark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tmstamp != null" >
        tmstamp = #{tmstamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where npm_id = #{npmId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyarc.tp.corp.purchase.provider.bean.NewProviderMaterial" >
    update t_new_provider_material
    set provider_id = #{providerId,jdbcType=VARCHAR},
      buyer = #{buyer,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      submiter = #{submiter,jdbcType=VARCHAR},
      files = #{files,jdbcType=VARCHAR},
      reporter = #{reporter,jdbcType=VARCHAR},
      report_submit_time = #{reportSubmitTime,jdbcType=TIMESTAMP},
      report_status = #{reportStatus,jdbcType=INTEGER},
      wf_status = #{wfStatus,jdbcType=INTEGER},
      wf_inst_id = #{wfInstId,jdbcType=VARCHAR},
      wf_inst_time = #{wfInstTime,jdbcType=TIMESTAMP},
      wf_inst_remark = #{wfInstRemark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      tmstamp = #{tmstamp,jdbcType=TIMESTAMP}
    where npm_id = #{npmId,jdbcType=VARCHAR}
  </update>
</mapper>